@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* background-color:#f4c5c5; */
  /* background: linear-gradient(0deg,rgb(24, 24, 27) 35%, rgba(63, 63, 70) 65%); */
  font-family: 'Montserrat', sans-serif;
}

/* .main_home {
  background: linear-gradient(0deg, rgba(39, 39, 42) 35%, rgb(24, 24, 27) 65%);

} */

/* .inclined_bg:before {
    content: "";
    position:absolute;
    top: 0;
    bottom: 0;
    transform: rotate(10deg);
} */

 .navbar {
  display: none!important;
}

.show__modal_burger {
  display: block!important;
} 


/* MENU BURGER ---------------------------------------------- */

.navbar__menu_burger {
  position: fixed;
  top: 5%;
  right: 3%;
}

.burger_box {
  z-index: 10000;
  background: transparent;
  /* background: #faf6f7; */
  width: 50px;
  height: 40px;
  /* border:none; */
  /* border: #000 1px solid; */
  cursor:pointer;
  border-radius: 5px;
  position: relative;
}

.container-lignes {
  /* background-color: #AE8E1C; */
  width: 40px;
  height: 20px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.line {
  position: absolute;
  border-radius: 10px;
  width: 40px;
  height: 2px;
  background-color: #fcf8f8;
  /* background: #000 */

}

.burger_box .line:nth-child(1){
  top:0px;
}
.burger_box .line:nth-child(2){
  top:9px;
}
.burger_box .line:nth-child(3){
  top:18px;
}

.b1 .line:nth-child(1), .line:nth-child(3) {
  transform:rotate(0deg);
  transition: transform 0.4s ease-in-out, top 0.4s 0.4s ease-in-out;
}

.b1 .line:nth-child(2){
  transition: opacity 0.4s 0.4s ease-in-out;

}

.b1.active_burger .line:nth-child(1){
  top: 9px;
  transform: rotate(45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;
}
.b1.active_burger .line:nth-child(2){
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}
.b1.active_burger .line:nth-child(3){
  top: 9px;
  transform: rotate(-45deg);
  transition: top 0.4s ease-in-out, transform 0.4s 0.4s ease-in-out;

}


/* FIN----------------------------------------------------------- */


/* ANIMATION icon scale */
.icon_media, .link_project {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.icon_media:hover, .link_project:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/* FIN Animation */



/* About */

.profil__me_picture {
  width: 800px;
}

.profil__parcours_picture {
  width: 1000px;
}


/* -------------------------------------------------- */

/* BOUTON CONTACT, CV ANIMATION ---------- */

.contact, .cv{
  position: relative;
  transition: all .55s;
}

.contact span, .cv span{
  position: relative;
  z-index: 2;
}

.contact:after, .cv:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(217, 119, 6);
  transition: all .55s;
}

.contact:hover:after, .cv:hover:after{
  width: 100%;
}



