<div class="fixed top-1/2 left-5 h-screen">
    <ul class="flex flex-col ">
        <li class="mb-6 p-1 rounded-md icon_media">
            <a href="">
                <i class="fa-brands fa-github fa-2xl text-amber-600"></i>
            </a>
        </li>
        <li class="mb-6 p-1 rounded-md icon_media">
            <a href="">
                <i class="fa-brands fa-linkedin fa-2xl text-amber-600"></i>
            </a>
        </li>
        <li class="p-1 rounded-md icon_media">
            <a href="">
                <span class="text-amber-600 font-semibold">CV</span>
            </a>
        </li>
    </ul>
</div>
