<div class="reveal-4 fixed top-1/2 left-5 h-screen mobileM:absolute mobileM:top-20">
    <ul class="flex flex-col mobileM:flex-row">
        <li class="mb-6 p-1 rounded-md icon_media mobileM:mr-4">
            <a href="">
                <i class="fa-brands fa-github fa-2xl text-white"></i>
            </a>
        </li>
        <li class="mb-6 p-1 rounded-md icon_media mobileM:mr-4">
            <a href="">
                <i class="fa-brands fa-linkedin fa-2xl text-white"></i>
            </a>
        </li>
        <li class="p-1 rounded-md icon_media mobileM:mr-4">
            <a href="">
                <span class="text-amber-600 font-semibold">CV</span>
            </a>
        </li>
    </ul>
</div>
