<nav class="navbar navbar-expand-lg shadow-md py-2 bg-slate-800 text-white relative flex flex-col max-w-xs">
	<div class="mb-10 text-center flex flex-col items-center">
		<img src="./img/logo.png" width="50%" height="50%" alt="Photo de logo">
		<span>Web Developpeur</span>
		<span class="bg-blue-700 p-1 rounded-lg">Junior</span>
	</div>

	<div class="text-center">
		<ul>
			<li class="outline outline-1 py-3 hover:bg-sky-600 active:bg-sky-700">
				<a href="">A Propos</a>
			</li>
			<li class="outline outline-1 py-3 hover:bg-sky-600 active:bg-sky-700">
				<a href="">Skills</a>
			</li>
			<li class="outline outline-1 py-3 hover:bg-sky-600 active:bg-sky-700">
				<a href="">Projets</a>
			</li>
			<li class="outline outline-1 py-3 hover:bg-sky-600 active:bg-sky-700">
				<a href="">Contact</a>
			</li>
		</ul>
	</div>

	<div class="mt-2 text-black flex flex-col items-center">
		<select name="" id="" class="text-center mb-2">
			<option value="" selected>
				FR
			</option>
			<option value="">
				ENG
			</option>
			<option value="">
				PT
			</option>
		</select>
		<button class="bg-white w-5 h-5 rounded-xl">
			<i class="fa-solid fa-moon "></i>
		</button>
	</div>

	<div class="mt-28">
		<ul class="flex justify-around">
			<li>
				<a href="">
					<i class="fa-brands fa-github fa-2xl"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa-brands fa-linkedin fa-2xl"></i>
				</a>
			</li>
			<li>
				<a href="">
					<span class="text-sky-500 font-black">CV</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
