
{% trans_default_domain 'skills_content' %}


<section class="container max-w-6xl tablet:max-w-xl mx-auto pt-8 pb-12 flex justify-between mobileM:flex-col mobileM:justify-center h-full dark:text-white">
    <div class=" mobileM:p-5">
        <div class="">
            <h1 class="text-3xl tablet:text-xl mobileM:text-lg font-semibold text-gray-500">{{ 'skills.page.subtitle'| trans }}</h1>
            <h2 class="text-7xl tablet:text-5xl mobileM:text-4xl font-black ">{{ 'skills.page.title'| trans }}</h2>
        </div>
        <div class="mr-16 text-lg leading-8 my-10">
            <p class="font-medium tablet:text-sm">{{ 'skills.page.text'| trans }}
            </p>
        </div>
        <div class="tablet:text-sm tablet:pr-4">
            <div class="mb-8">
                <p>HTML , CSS , Bootstrap , GitHub , VSCode</p>
                <div class="bg-slate-200 h-5 tablet:h-3 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 tablet:h-3 rounded-xl w-3/5 "></div>
                </div>
            </div>
            <div class="mb-8">
                <p>PHP , Symfony , Twig , Javascript , MySQL</p>
                <div class="bg-slate-200 h-5 tablet:h-3 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 tablet:h-3 rounded-xl w-2/5 "></div>
                </div>
            </div>
            <div class="mb-8">
                <p>Angular2+ , jQuery , PostgreSQL , Tailwind , Figma</p>
                <div class="bg-slate-200 h-5 tablet:h-3 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 tablet:h-3 rounded-xl w-1/5 "></div>
                </div>
            </div>
        </div>
    </div>

    <aside class="ml-32 tablet:ml-8 w-4/5 mt-14 pt-12 mobileM:w-3/5 mobileM:pt-2 mobileM:mt-2 mobileM:ml-20">
        <img src="../../img/nuage-de-mots.jpg" alt="nuage de mots"  class="rounded-lg h-96 tablet:h-52 object-cover">
    </aside>    

</section>
