{% extends 'base.html.twig' %}

{% trans_default_domain 'skills_content' %}

{% block title %}{{ 'skills.page.mainTitle'| trans }}{% endblock %}

{% block body %}

<section class="container max-w-5xl mx-auto py-8 flex h-screen dark:text-white">
    <div class="">
        <div class="">
            <h1 class="text-3xl font-semibold text-gray-500">{{ 'skills.page.subtitle'| trans }}</h1>
            <h2 class="text-7xl font-black">{{ 'skills.page.title'| trans }}</h2>
        </div>
        <div class="mr-16 text-lg leading-8 my-10">
            <p>{{ 'skills.page.text'| trans }}
            </p>
        </div>
        <div>
            <div class="mb-8">
                <p>HTML , CSS , Bootstrap , GitHub , VSCode</p>
                <div class="bg-slate-200 h-5 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 rounded-xl w-3/5 "></div>
                </div>
            </div>
            <div class="mb-8">
                <p>PHP , Symfony , Twig , Javascript , MySQL</p>
                <div class="bg-slate-200 h-5 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 rounded-xl w-2/5 "></div>
                </div>
            </div>
            <div class="mb-8">
                <p>Angular2+ , jQuery , PostgreSQL , Tailwind , Figma</p>
                <div class="bg-slate-200 h-5 rounded-xl w-full ">
                    <div class="bg-red-700 h-5 rounded-xl w-1/5 "></div>
                </div>
            </div>
        </div>
    </div>

    <aside class="ml-32 w-4/5 mt-14 pt-12">
        <img src="../../img/nuage-de-mots.jpg" alt="nuage de mots"  class="rounded-lg h-96 object-cover">
    </aside>    

</section>

{% endblock %}
